<!doctype html>
<html ng-app="randomFlickrApp" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Random Flickr </title>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/style.css"/>
    <script src="js/vendor/modernizr.js"></script>
  </head>
  <body>

    <div class="row">
      <div class="large-12 columns">
        <h1> Random Flickr</h1>
      </div>
    </div>
    <div ng-controller="ImageCtrl" >
      <div id="top" class="row">
        <div class="large-7 large-offset-3">
          <label for="searchKeyword">What are you searching for?</label>
            <div class="row form-search">
              <div class="large-12 columns">
              <input ng-model="form.keyword" type="text" id="searchKeyword" class="input-text" placeholder="Type something here. eg.:'smilling cat'" style=" background-attachment: scroll; cursor: auto; background-position: 100% 50%; background-repeat: no-repeat no-repeat;">
              </div>
              <div class="large-12 columns">
                <button ng-click='search()' class="button large expand radius">Get a pic!</button>
              </div>
            </div>
        </div>
      </div>

      <div id="imageSearch" class="row">
        <div class="large-12 columns" style="">
          <img ng-src=' {{form.imgUrl}} '>
        </div>
      </div>
    </div>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
